
      <div class="col-12">
          <div class="page-title">
      
              <div class="pull-left">
                  <!-- PAGE HEADING TAG - START -->
      
                  <h1 class="title">Add Driver</h1>
                  <!-- PAGE HEADING TAG - END -->
              </div>
      
              <div class="pull-right hidden-xs">
                  <ol class="breadcrumb">
                      <li>
                          <a routerLink="/">
                              <i class="fa fa-home"></i>Home</a>
                      </li>
                      <li>
                          <a routerLink="/driver">
                              <i class="fa fa-list-ol"></i>Driver</a>
                      </li>
                      <li class="active">
                          <strong>Add Driver</strong>
                      </li>
      
                  </ol>
              </div>
      
          </div>
         
      </div>
      
        <div class="col-12">
            <div class="page-title">
  
                <div class="float-left">
                    <!-- PAGE HEADING TAG - START -->
              
                </div>
                <div class="float-right">
                   <!-- <a [routerLink]="['add-subadmin']"> <i class="fa fa-plus"></i>Dashboard </a>-->
  
                </div>
  
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->
  
        <div class="col-xl-12">
            <section class="box ">
                  <div class="content-body ">
                    <div class="row">
                        <div class="col-12">
                          <div class="container">
                            <form [formGroup]="userForm" (submit)="saveUser()">
                                 
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userFirstName"><strong>First Name*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input  type="text" formControlName="userFirstName" class="form-control" id="userFirstName" maxlength="40" placeholder="First Name"/> 
                                      </div>
                                  </div>
  
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userLastName"><strong>Last Name*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input  type="text" formControlName="userLastName" class="form-control" id="userLastName" maxlength="40" placeholder="Last Name"/> 
                                      </div>
                                  </div>
                                 
                                   <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userEmail"><strong>Email*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input type="text" formControlName="userEmail"  class="form-control" max="40" id="userEmail" placeholder="Email"/>  <br>
                                         
                                     </div>
                                  </div>
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userPhone"><strong>Mobile No*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          
                                          <input type="text" formControlName="userPhone" class="form-control phone_number" maxlength="10" id="userPhone" name="phoneNumber" placeholder="Phone Number" />
                                        
                                      </div>
                                  </div>
                                 
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userPassword"><strong>Password*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input type="password" formControlName="userPassword"  class="form-control" max="40" id="userPassword" placeholder="Password" />  <br>
                                         
                                     </div>
                                  </div>
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="confirmpassword"><strong>Confirm Password*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input type="password"  class="form-control" max="40" id="confirmpassword"  placeholder="Confirm Password" />  <br>
                                        
                                     </div>
                                  </div>
                        
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="country"><strong>Country*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <input type="text" formControlName="country"  class="form-control" max="40" id="country"  placeholder="Country" />  <br>
                                         
                                     </div>
                                  </div>
                                  <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="userAddress"><strong>Address*</strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <ng4geo-autocomplete (componentCallback)="autoCompleteCallback1($event)" ></ng4geo-autocomplete>
                                          <input type="hidden" formControlName="userAddress" name="userAddress" id="userAddress">
                                      </div>
                                   </div>

                                   <div  class="form-group row">
                                    <div class="col-sm-3">
                                        <label class="mt-2" for="name"><strong>Driver's image*</strong></label>
                                    </div>
                                    <div  class="col-sm-9">
                                        <label for="fileToUpload">
                                           <input type="File" class="form-control" name="fileToUpload" id="fileToUpload" (change)="myUploaderNew($event)">
                                          <input type="hidden" formControlName="selfieImage" id="selfieImage" >
                                         </label>
                                        <div style="color:green;">{{msg}}</div>
                                    </div>
                                 </div>
                                  
                        
                                   <div  class="form-group row">
                                      <div class="col-sm-3">
                                          <label class="mt-2" for="name"><strong></strong></label>
                                      </div>
                                      <div  class="col-sm-9">
                                          <button type="submit"  class="btn btn-primary btn-block">Add User</button>
                                      </div>
                                  </div>    
                                 
                              </form>
                    
                           
                           </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
  
  
  
  
  
  
      
  
  
  
  
  