<!-- begin::Page loader -->

<div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="width: 100%;height:100%; background-color: transparent; position: absolute; left:0; top: 0px; text-align: center">
    <div style="position: absolute; top: 45%; left: 45%;">
        <div class="m-blockui">
            <span>
			Please wait...
		</span>
            <span>
			<div class="m-loader m-loader--brand"></div>
		</span>
        </div>
    </div>
</div>

<!-- end::Page loader -->
<!-- begin:: Page -->
<router-outlet></router-outlet>
<!-- end:: Page -->
<app-quick-sidebar></app-quick-sidebar>
<app-scroll-top></app-scroll-top>
<app-tooltips></app-tooltips>
<style>
    .m-nav-sticky {
        display: none
    }

</style>
<!--begin::Base Scripts -->
<!--end::Base Scripts -->
<!--begin::Page Vendors -->
<!--end::Page Vendors -->
<!--begin::Page Snippets -->
<!--end::Page Snippets -->
