<div class="col-12">
    <div class="page-title">

        <div class="float-left">
            <!-- PAGE HEADING TAG - START -->
            <h1 class="title">My Activity</h1>
            <!-- PAGE HEADING TAG - END -->
        </div>

        <div class="float-right ">
            <ol class="breadcrumb">
                <li>
                    <a routerLink="/"><i class="fa fa-home"></i>Home</a>
                </li>

                <li class="active">
                    <strong>My Activity </strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-xl-12">
    <section class="box ">

        <div class="content-body">
            <div class="row">
                <div class="col-12">


                    <!-- ********************************************** -->


                    <div></div>
                    <table id="example-11" class="display table table-hover table-bordered table-condensed dataTable no-footer" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th> Activity </th>
                                <th> Activity Date </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let activitylist of activities; let i=index" class="ng-scope">
                                <td class="ng-binding"> {{i+1}} </td>
                                <td class="ng-binding"> {{activitylist.message}} </td>
                                <td class="ng-binding"> {{activitylist.created}} </td>

                            </tr>

                        </tbody>
                    </table>
                    
                    <!-- ********************************************** -->




                </div>
            </div>
        </div>
    </section>
</div>
