<div class="col-12">
  <div class="page-title">

      <div class="pull-left">
          <!-- PAGE HEADING TAG - START -->

          <h1 class="title">Manage Employers</h1>
          <!-- PAGE HEADING TAG - END -->
      </div>

      <div class="pull-right hidden-xs">
          <ol class="breadcrumb">
              <li>
                  <a routerLink="/">
                      <i class="fa fa-home"></i>Home</a>
              </li>
              <li class="active">
                  <strong>Employers</strong>
              </li>

          </ol>
      </div>

  </div>
  <div class="custum-links" style="position: absolute; right: 15px; z-index: 1">
      <a routerLink="/employee/add-ind-employee" style="font-weight: bold;">
          <i class="fa fa-plus"></i> Add Individual Employer </a> &nbsp;
      <a routerLink="/employee/add-corp-employee" style="font-weight: bold;">
          <i class="fa fa-plus"></i> Add Corporate Employer</a>
  </div>
</div>



<div class="col-md-12">
  <div class="row">
      <div class="col-12">
          <ul class="nav nav-tabs primary" style=" padding: 0;" id="myTab2" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active">
                      <i class="fa fa-user"></i> Employers List
                  </a>
              </li>
             <!-- <li class="nav-item">
                  <a class="nav-link" [routerLink]="['system-users']">
                      <i class="fa fa-info-circle"></i> System Users
                  </a>
              </li>-->

          </ul>
      </div>




  </div>
</div>

<!-- MAIN CONTENT AREA STARTS -->

<div class="col-xl-12">
  <section class="box ">
      <!-- <header class="panel_header">
                  <h2 class="title float-left"></h2>
                  <div class="float-right" style="margin-top:20px;margin-right:40px;">
                      <a [routerLink]="['archive-user']" class="btn btn-primary"> Archive User</a>
                  </div>
              </header> -->
      <div class="content-body">
          <div class="row margin-0">

              <div class="col-lg-4">

              </div>
              <div class="col-lg-8">
                  <form>
                      <!--                                 
                              <div class="col-lg-3" style="float:left">
                                  Status
                              </div>
                              <div class="col-lg-3" style="float:left">
                                  Completeness
                              </div>
                              <div class="col-lg-3" style="float:right">
                                  Onboard Date
                              </div> -->
                  </form>
              </div>
          </div>
          <div class="row margin-0">

          </div>
          <br>
          <div class="row">
              <div class="col-12">
                  <!-- ********************************************** -->
                  <div></div>

                  <div class="container" style="margin-left: 0;max-width: 1299px;">

                      <div class="pagination-data" style="overflow: scroll;height:600px;min-height:600px;">

                          <table id="example-11" class="display table table-bordered table-striped  dt-responsive dataTable no-footer" cellspacing="0"
                              width="100%" *ngIf="no_data==false">
                              <thead>
                                  <tr>
                                      <th>S.No.</th>
                                      <th> First Name </th>
                                      <th> Last Name </th>
                                      <th> Email </th>
                                      <th> Mobile No</th>
                                      <th> Country </th>
                                      <th> Archive/Inactive </th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tr></tr>
                              <tr *ngFor="let user of Employees ;  let i = index">
                                   
                                  <td class="ng-binding"> {{i + 1}} </td>
                                  <td class="ng-binding"> {{user.user?.userFirstName == ''?'N/A':user.user?.userFirstName}} </td>
                                  <td class="ng-binding"> {{(user.user?.userFirstName == undefined || user.user?.userFirstName == '')?'N/A':user.user?.userFirstName}} </td>
                                  <td class="ng-binding"> {{(user.user?.userEmail == undefined || user.user?.userEmail == '')?'N/A':user.user?.userEmail}} </td>
                                  <td class="ng-binding"> {{user.user?.userPhone == ''?'N/A':user.user?.userPhone}} </td>
                                  <td class="ng-binding"> {{user.user?.country.countryName == ''?'N/A':user.user?.country.countryName}} </td>
                                  <td class="ng-binding"> <button>Archive</button> </td>
                                  
                                  <td style="min-width:120px;">
                                    <a (click)="delete_u( user._id)" *ngIf="user.active == 0 || user.active == 1">
                                        <i class="fa fa-ban text-danger ng-pristine ng-untouched ng-valid ng-empty" aria-hidden="true" title="Block User"></i>
                                    </a>
                                    <a (click)="delete_u(user._id)" *ngIf="user.active==4">
                                        <i class="fa fa-unlock text-danger ng-pristine ng-untouched ng-valid ng-empty" aria-hidden="true" title="Unblock User"></i>
                                    </a>
                                    &nbsp;
                                    <a (click)="delete_u(user._id)">
                                        <i class="fa fa-trash text-danger ng-pristine ng-untouched ng-valid ng-empty" aria-hidden="true" title="Delete User"></i>
                                    </a> &nbsp;
                                    <a [routerLink]="['view-user', user._id]">
                                        <i class="fa fa-eye text-success" aria-hidden="true" title="view user"></i>
                                    </a> &nbsp;
                                    <a [routerLink]="['edit-user', user._id]">
                                        <i class="fa fa-edit text-primary" aria-hidden="true" title="edit user"></i>
                                    </a>
                                  </td>
                              </tr>
                              <tr *ngIf="no_data">
                                  <td colspan="11">
                                      No Data Found
                                  </td>
                              </tr>
                          </table>

                          <table id="example-11" class="display table table-bordered table-striped  dt-responsive dataTable no-footer" cellspacing="0"
                              width="100%" *ngIf="no_data">
                              <thead>
                                  <tr>

                                          <th>S.No.</th>
                                          <th> First Name </th>
                                          <th> Last Name </th>
                                          <th> Email </th>
                                          <th> Mobile No</th>
                                          <th> Country </th>
                                          <th> Archive/Inactive </th>
                                          <th>Action</th>

                                  </tr>
                              </thead>
                              <tr *ngIf="no_data">
                                  <td colspan="8" align="center">
                                      <b>No Data Found</b>
                                  </td>
                              </tr>
                          </table>

                      </div>
                  
                  </div>

                  <!-- ********************************************** -->
              </div>
          </div>
      </div>
   
    
  </section>
</div>
<!-- MAIN CONTENT AREA ENDS -->
